.main {
    margin-top: 60px;
}

.main__title {
    margin-bottom: 30px;
}

.main__list {
    display: flex;
    justify-content: space-between;
}

.main__item {
    width: 300px;
}
.main__item1{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__img {
    width: 250px;
}

.main__text1 {
    margin-bottom: 10px;
    font-style: italic;
}
.main__text2{
    font-style: italic;
}
.main__text3 {
    margin-bottom: 10px;
    font-style: italic;
}

.main__text4 {
    margin-bottom: 10px;
    line-height: 20px;
    font-style: italic;
}
.main__text5{
    font-style: italic;
}